// Colours
// ================================================================================================
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 63%);
$very-dark-gray: hsl(0, 0%, 27%);
$white: hsl(0, 0%, 100%);